#okta-sign-in.auth-container.main-container {
  background-color: red;
}

#okta-sign-in .beacon-blank {
  background-color: red;
}

#okta-sign-in * {
  color: red;
}

#okta-sign-in.auth-container .o-form-head {
  color: red;
}
